*{
    box-sizing: border-box;
}
/* *.row > div{
    border: 1px solid black;
} */

header{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
}

header .row{
    flex-grow: 1;
    height: inherit;
}

header .row #logo div svg{
    height: 2rem;
    fill: rgb(29, 155, 240);
}

header .row #logo{
    display: flex;
    align-items: center;
}

header .row #logo > div:hover{
    border-radius: 30px;
    background-color: rgba(122,132,143,.1);
    cursor: pointer;
}



header #star-logo{
    height: 20px;
    width: 20px;
}

header #mid-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #search-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    background-color: rgba(122,132,143,.1);
    border-radius: 9999px;
}

header #search-field #input-field{
    border: none;
    outline: none;
    background-color: transparent;
}

header #search-field #search-icon svg {
    fill: rgb(83, 100, 113);
    padding-left: 12px;
    width: 32px;
}

header #search-field #search-icon{
   margin-left: 10px;
}

main{
    margin-top: 60px;
}

main #home-col div svg{
    height: 1.75rem;
    padding-left: 20px;
    padding-right: 20px;
}
nav .row > div >div:hover{
    background-color: rgba(122,132,143,.1);
}

nav #home-col div div > label{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

nav #home-col > div{
    display: flex;
    width: min-content;
    border-radius: 9999px;
    height: 45px;
    align-items: center;
    padding: 12px;
    cursor: pointer;

}

main #explore-col div svg{
    height: 1.75rem;
    padding-left: 20px;
    padding-right: 20px;
}

nav #explore-col div div > label{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

nav #explore-col > div{
    display: flex;
    width: min-content;
    border-radius: 9999px;
    height: 45px;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    margin-top: 3px;
}

main #notifications-col div svg{
    height: 1.75rem;
    padding-left: 20px;
    padding-right: 20px;
}

nav #notifications-col div div > label{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

nav #notifications-col > div{
    display: flex;
    width: min-content;
    border-radius: 9999px;
    height: 45px;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    margin-top: 3px;
}

main #messages-col div svg{
    height: 1.75rem;
    padding-left: 20px;
    padding-right: 20px;
}

nav #messages-col div div > label{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

nav #messages-col > div{
    display: flex;
    width: min-content;
    border-radius: 9999px;
    height: 45px;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    margin-top: 3px;
}

main #bookmarks-col div svg{
    height: 1.75rem;
    padding-left: 20px;
    padding-right: 20px;
}

nav #bookmarks-col div div > label{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

nav #bookmarks-col > div{
    display: flex;
    width: min-content;
    border-radius: 9999px;
    height: 45px;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    margin-top: 3px;
}

main #lists-col div svg{
    height: 1.75rem;
    padding-left: 20px;
    padding-right: 20px;
}

nav #lists-col div div > label{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

nav #lists-col > div{
    display: flex;
    width: min-content;
    border-radius: 9999px;
    height: 45px;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    margin-top: 3px;
}

main #profile-col div svg{
    height: 1.75rem;
    padding-left: 20px;
    padding-right: 20px;
}

nav #profile-col div div > label{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

nav #profile-col > div{
    display: flex;
    width: min-content;
    border-radius: 9999px;
    height: 45px;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    margin-top: 3px;
}

main #more-col div svg{
    height: 1.75rem;
    padding-left: 20px;
    padding-right: 20px;
}

nav #more-col div div > label{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

nav #more-col > div{
    display: flex;
    width: min-content;
    border-radius: 9999px;
    height: 45px;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    margin-top: 3px;
}

main #button button{
    width: 220px;
    background-color: rgb(29, 155, 240);
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
    outline-style: none;
    min-width: 52px;
    min-height: 52px;
    border-radius: 9999px;
    border-color:rgb(29, 155, 240) ;
}

main #button{
    display: flex;
    margin-top: 20px;
}

main #image-col div > img{
    width: 50px;
    height: 50px;
}

main #image-col div{
    display: flex;
    border-radius: 9999px;
    box-shadow: rgb(0 0 0 / 3%) 0px 0px 2px inset;
    border-color: 2px solid gray;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: auto;
    height: 320px;
       
}

main #image-col svg{
      width: 30px;
      justify-self: flex-end;
}

#mid-div #post img{
    width: 60px;
}

#mid-div #post #post-image{
    display: block;
    width: 100%;
}

#mid-div #post span{
    font-weight: bold;
}

#mid-div #icons svg{
    height: 18.75px;
    width: 18.75px;
    flex-wrap: nowrap;
}

#mid-div #icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

#right-panel #section-trends{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#right-panel #section-trends svg{
    width: 18.75px;
    height: 18.75px;
}

#right-panel #dots-icon{
    height: 18.75px;
    width: 18.75px;
    
}

#right-panel #sub-divs{
    display: flex;
    flex-direction: column;
    height: fit-content;
    cursor: pointer;
}

#right-panel #sub-divs:hover{
    background-color: rgba(122,132,143,.1);
}

#right-panel #sub-divs div{
    width: fit-content;
}

#first{
    background-color: rgba(122,132,143,.1);
    border-radius: 20px;
}

#first section{
    padding-left: 20px;
}
















